body, html{
    height: auto !important;

}
html{
  background-image: url('../../../../img/background-image.jpeg')
}
body{
  background: transparent;
}
.page-content {
    background: rgba(255,255,255,0.9);
}
.page-header .navbar .navbar-nav>li>a{
    font-size:14px !important;
}
.page-header .navbar .navbar-nav .dropdown-menu>li>a{
  padding: 16px 15px 16px 30px;
}
.page-header .navbar .topbar-actions .btn-group-red .btn{
  background: #23b9e0;
}
.page-header .navbar .topbar-actions .btn-group-red:after{
  border-color: #4aa4b7;
}
md-input-container{
    margin: 12px 0 0 0;
}
md-input-container.md-input-focused .md-input, md-input-container.md-input-resized .md-input, md-input-container .md-input.ng-invalid.ng-dirty {
    border-width: 0 0 1px;
}
.md-input {
    padding: 4px 0px!important;
}
label {
    margin-bottom: 0 !important;
}
.md-input-message-animation {
    font-size: 10px;
    line-height: 10px;
    padding-top: 3px;
}
.md-table-pagination .label{
    color: #888 !important;
    text-transform: inherit;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    box-shadow: none;
}
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all){
    text-transform: inherit;
    font-size: 11px;
}
.portlet>.portlet-title>.actions>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm, .portlet>.portlet-title>.actions>.btn.btn-sm{
    font-size: 11px;
    font-weight: normal;
}
.portlet>.portlet-title>.actions>.btn-group>.btn.btn-default, .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm.btn-default, .portlet>.portlet-title>.actions>.btn.btn-default, .portlet>.portlet-title>.actions>.btn.btn-sm.btn-default{
    padding: 4px 9px;
}
table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2), table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
    padding: 0 4px 0 4px;
}
table.md-table:not(.md-row-select) td.md-cell:first-child, table.md-table:not(.md-row-select) th.md-column:first-child {
    padding: 0 4px;
}
.md-button.md-icon-button {
    margin: 0;
    height: auto;
    min-width: 0;
    line-height: 30px;
    padding: 0;
    width: auto;
    border-radius: 50%;
}
.md-button{
    min-height: 0;
    font-size: 13px;
}
table.md-table tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row {
    height: 34px;
    outline: none;
}
table.md-table thead.md-head > tr.md-row {
    height: 34px;
    outline: none;
}
table.md-table td.md-cell{
    font-size: 12px;
}
table.md-table thead.md-head + .md-table-progress md-progress-linear {
    top: 0px;
}
table.md-table .md-table-progress th md-progress-linear > .md-container {
    height: 2px;
}
md-icon{
    min-height: 12px;
    min-width: 12px;
}
table.md-table tbody.md-body > tr.md-row:hover, table.md-table tfoot.md-foot > tr.md-row:hover{
    background: #f8f8f8;
}

table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2),
table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
    padding: 15px 56px 15px 0 !important;
}
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 15px 56px 15px 0 !important;
}

.form-group.form-md-line-input>.input-icon .form-control{
    padding-left:0px !important;
}

.form-group.form-md-line-input{
    margin: 0 0 24px !important;
}
/*Switch*/
.togglebutton, .togglebutton label, .togglebutton input, .togglebutton .toggle {
    user-select: none;
}
.togglebutton {
    vertical-align: middle;
}
.togglebutton label {
    cursor: pointer;
    color: rgba(0,0,0, 0.26);
}
.togglebutton, .togglebutton label, .togglebutton input, .togglebutton .toggle {
    user-select: none;
}
.togglebutton label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}
.togglebutton, .togglebutton label, .togglebutton input, .togglebutton .toggle {
    user-select: none;
}
.togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled] + .toggle {
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    background-color: rgba(80, 80, 80, 0.7);
    border-radius: 15px;
    margin-right: 15px;
    transition: background 0.3s ease;
    vertical-align: middle;
}
.togglebutton label {
    cursor: pointer;
    color: #888;
    font-size: 12px;
}
.togglebutton, .togglebutton label, .togglebutton input, .togglebutton .toggle {
    user-select: none;
}
.togglebutton label .toggle:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -3px;
    border: 1px solid rgba(0,0,0, .54);
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
.togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: #73b949;
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
    border-color: #47A247;
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
    left: 15px;
}
/* End Switch */

/*Bootstrap Select*/
.form-group.form-md-line-input .bs-select button.dropdown-toggle{
  font-weight: normal !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
.form-group.form-md-line-input .bs-select button.dropdown-toggle:focus,
.form-group.form-md-line-input .bs-select button.dropdown-toggle:active,
.form-group.form-md-line-input .bs-select button.dropdown-toggle:hover{
  background-color: transparent;
}
.bootstrap-select .dropdown-toggle{
  border: 0;
  box-shadow: none !important;
  display: block;
  height: 33px;
  font-size: 14px !important;
}
.bootstrap-select .dropdown-toggle.active, .bootstrap-select .dropdown-toggle:active,
.bootstrap-select .dropdown-toggle:hover{
  background: #fff;
}
.bootstrap-select .btn, .bootstrap-select .btn-default.active, .bootstrap-select .btn-default:active,
.bootstrap-select .btn-default:hover,
.bootstrap-select .open>.btn-default.dropdown-toggle{
  background: transparent !important;
}
/*End Bootstrap Select*/
.datepicker table td, .datepicker table th, .datetimepicker table td, .datetimepicker table th {
    font-family: sans-serif !important;
}

.form-group.form-md-line-input .help-block{
  opacity: 1 !important;
  font-size: 11px !important;
}
.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.edited~label, .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.focus:not([readonly])~label, .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.form-control-static~label, .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm:focus:not([readonly])~label, .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm[readonly]~label{
  font-size: 11px;
}
.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm~label{
  font-size: 14px;
}

.form-group.has-error label{
  color: #e73d4a !important;
}
.form-group.form-md-line-input {
    position: relative;
    margin: 0 0 20px;
    padding-top: 12px;
}
.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm~label{
  top: 20px;
}
.form-group.form-md-line-input .form-control, .form-group.form-md-line-input .input-group .input-group-addon{
  border-bottom: 2px solid #c2cad8;
}
json-data{
  display: none;
}
.form-group.disabled .bootstrap-select{
  border-bottom: 1px dashed #c2cad8;
}
form > .portlet.light.bordered{
  box-shadow: none;
  border: none !important;
}
.bootstrap-select .help-block{
  top: 32px;
}

.form-group .form-md-line-input{
    margin: 0 !important;
}
.form-control{
  height: 35px;
}
@media (min-width: 992px){
  .page-header .navbar-fixed-top {
    top: 0;
    left: 0;
    right: 0;
    background: #58809a;
  }
}
.page-header .navbar .page-logo img{
  width: 184px;
}
.page-header .navbar .topbar-actions .btn-group-img .btn{
  background: #ffffff;
}
.btn-group.open .dropdown-toggle{
  box-shadow: none;
}
.dropdown-menu-v2{
  background: #ffffff;
  box-shadow: 2px 2px 10px #888;
  -webkit-box-shadow: 2px 2px 10px #888;
  -moz-box-shadow: 2px 2px 10px #888;
}
.dropdown-menu-v2:before{
  border-width: 0px 15px 15px 15px;
  border-color: transparent transparent #ffffff;
}
.dropdown-menu-v2>li>a:focus, .dropdown-menu-v2>li>a:hover{
  background: #f1f1f1;
  color: #3c3c3c;
}
.page-header .navbar .navbar-nav>li>a{
  padding: 20px 32px;
}
.btn-group>.dropdown-menu, .dropdown-menu, .md-shadow-z-2-i {
    box-shadow: 0 0px 1px rgba(0,0,0,.16),0 1px 4px rgba(0,0,0,.22)!important;
}
.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm~label{
  font-size: 14px;
  top: 20px;
}
.mt-checkbox-list .mt-checkbox, .mt-checkbox-list .mt-radio, .mt-checkbox>input:checked~span:after, .mt-radio-list .mt-checkbox, .mt-radio-list .mt-radio, .mt-radio>input:checked~span:after {
    display: inline-block;
    margin-right: 18px;
}
.mt-checkbox, .mt-radio{
  padding-left: 24px;
}
.page-header .navbar .navbar-nav li.open.selected>a {
    color: #ffffff;
    background: #009dc7;
}
.page-header .navbar .navbar-nav>li>a {
    color: #fff;
    background: #25b9e0;
}
.page-header .navbar .navbar-nav li.open:hover>a, .page-header .navbar .navbar-nav li.open>a {
    background: #ffffff;
    color: #2a3239;
}

.dashboard-stat .details .desc {
    font-weight: 600;
}

/* Media */
.upload-container{
  padding: 20px 20px 40px 20px;
  text-align: center;
  border: 3px dashed #ccc;
  position: relative;
}
.upload-drop{
  font-size: 25px;
  font-weight: bold;
  color: #888;
}
.upload-close{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  font-size: 16px;
}
.upload-container.dragover{
  border-color: #888;
  background: #fcfcfc;
}
.upload-container.dragover .upload-drop{
  color: #555;
}
.upload-container.dragover-err{
  border-color: red;
}
.media-list {
    padding-left: 0;
    list-style: none;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}
.media-item {
  float: left;
  width: 150px;
  height: 200px;
  margin: 0 28px 0 0;
  border: 5px solid #ffffff;
  cursor: pointer;
  margin-bottom: 15px;
  outline: none;
}
.media-item.active{
  border: 5px solid #a6d5fe !important;
}
.media-item .media-thumb{
  height: 150px;
  overflow: hidden;
}
.media-item .media-thumb img{
  width: 150%;
}
.media-item .media-title{
  text-align: center;
  font-size: 12px;
}
.media-item:hover{
  border-color: #eee;
}
.media-attributes{
  background: #eee;
  height: 500px;
  padding: 12px 14px;
}
.media-loading{
  background: #f3f3f3;
height: 100%;
}
/* End Media */

@media (min-width: 992px){
  .page-header .navbar-collapse {
      margin-top: 50px !important;
  }
  .header-wrapper{
    padding: 20px 0 0 0;
  }
  .page-content{
    padding-top: 75px;
  }
  .page-content.no-menu{
      padding-top: 30px;
  }
}

.mt-step-col.done .mt-step-number{
  background: #fff !important;
}
.mt-element-step .step-line .mt-step-title{
  font-size: 16px;
}
