.page-wrapper .page-wrapper-middle{
  background: #ffffff;
}
a:hover{
  text-decoration: none;
}
.page-header{
  height: auto;
}
.page-header .page-header-menu {
    background: #215E7A;
}
.page-header .page-header-top .page-logo{
  width: auto;
}
.page-header .page-header-top {
    border-bottom: 3px solid #F7762F;
    background-image: url('../img/jakarta.png');
    background-size: 220px;
    height: 80px;
    background-repeat: repeat-x;
    background-position: 0px 5px;
    padding: 2px 0;
}
.page-header .page-header-menu .hor-menu .navbar-nav>li.active>a, .page-header .page-header-menu .hor-menu .navbar-nav>li.active>a:hover, .page-header .page-header-menu .hor-menu .navbar-nav>li.current>a, .page-header .page-header-menu .hor-menu .navbar-nav>li.current>a:hover {
    color: #fff;
    background: #1b536d;
}
.page-header .page-header-menu .search-form, .page-header .page-header-menu .search-form .input-group {
    background: #f2f2f2;
}
.page-header .page-header-menu .search-form .input-group .form-control {
    color: #888888;
    background: #f2f2f2;
}
.page-header .page-header-menu .hor-menu .navbar-nav>li.open>a, .page-header .page-header-menu .hor-menu .navbar-nav>li:hover>a, .page-header .page-header-menu .hor-menu .navbar-nav>li>a:active, .page-header .page-header-menu .hor-menu .navbar-nav>li>a:focus, .page-header .page-header-menu .hor-menu .navbar-nav>li>a:hover {
    color: #fff;
    background: #1b536d !important;
}
.page-header .page-header-menu .hor-menu .navbar-nav>li .dropdown-menu {
    background: #1b536d;
}
.page-header .page-header-menu .hor-menu .navbar-nav>li .dropdown-menu li:hover>a {
    color: #ced5de;
    background: #255E78;
}
.page-prefooter a, .page-prefooter h2 {
    color: #e0773d;
}
.page-footer {
    background: #1F536B;
    color: #e6e6e6;
}
.page-prefooter {
    background: #255E78;
    color: #f2f2f2;
}
.page-logo img{
  float: left;
  width: 47px;
  margin: 10px 6px;
}
.page-logo h1{
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0 4px 0;
}
.page-logo h4{
  font-size: 12px;
  margin: 0;
}
.top-menu, .top-menu a{
  font-size: 12px;
}
.dashboard-stat{
  border-radius: 5px !important;
}
