.btn-social {
  position: absolute;
  left: 12px;
  width: 43px;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
  height: 20px;
  font-size: 20px !important;
  padding-top: 3px; }

.fixed-table-container tbody td .th-inner, .fixed-table-container thead th .th-inner {
  	background-color: #b5cadb !important;
}

tbody#permit_progress tr:nth-child(even){ background:#e6e4d5; }
tbody#permit_progress tr:nth-child(odd){ background:#dbbabb; }